.up div{
  display: flex;
}
.userStyle div{
  flex-direction: column;
  background-color: #2b912d;
}
.postStyle div{
  background-color: #bd2424;
}
.commentStyle div{
  background-color: cornflowerblue;
}
